Update Url class to common syntax

looks like query should be called [url search params](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams).

The [complete url spec](https://url.spec.whatwg.org/#urlsearchparams)

I guess the query string is also called the query string: 

> A [URL](https://url.spec.whatwg.org/#concept-url)’s query is either null or an [ASCII string](https://infra.spec.whatwg.org/#ascii-string). It is initially null.

So I guess it is called URLSearchParams when parsed, and query when a string attached to the full url

Also, I want to make sure query strings are parsed and built correctly, so:

```
foo[bar][0][che]=happy
```

would convert to:

```
foo = {
  bar: [
    {
      che: happy
    }
  ]
}
```

and likewise, if you passed that dict into the url builder it would convert back to `foo[bar][0][che]=happy`

I think `query_params` for the parsed `query` of the Url is pretty good. That's what I changed dsnparse's parsed query string to. [RFC3986 section 3.4](https://www.ietf.org/rfc/rfc3986.txt) doesn't give a good name for the actual assignment statements of each part of the query

[Postgres](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING) calls the query part `paramspec`